{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      },
      "useBuiltins": "usage",
      "debug": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
